site_name: Python Docs
site_url: http://abotw.github.io/CS305-PY-DocSite
theme:
  name: material
  features:
    - content.code.copy
    - search.suggest
    - search.highlight
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - search
  - mkdocs-jupyter